[defaults]
# Отключаем сбор фактов, если работаем с OpenWRT без Python
gather_facts = False 
local_tmp = /tmp/ansible-local

[ssh_connection]
# Добавляем флаг -o ForwardAgent=yes в параметры подключения SSH
ssh_args = -F /dev/null -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes -o StrictHostKeyChecking=accept-new -o LogLevel=ERROR
control_path_dir = /tmp/ansible-cp
transfer_method = piped
